{% if page.lang == nil or page.lang == "en" %}
  {% assign hcl = site.data.hcl %}
{% else %}
  {% assign hcl = site.data.translation[page.lang].hcl %}
  {% if hcl == nil or hcl.size == 0 %}
    {% assign hcl = site.data.hcl %}
  {% endif %}
{% endif %}
{% assign hw = hcl | where_exp: "item", "item.htmlsection == 'hardware'" | first %}

{% assign laptop = hw.links | where_exp: "item", "item.id == 1" | first %}
{% assign desk = hw.links | where_exp: "item", "item.id == 2" | first %}
{% assign mother = hw.links | where_exp: "item", "item.id == 3" | first %}
{% assign add = hw.links | where_exp: "item", "item.id == 4" | first %}

{% assign info = hcl | where_exp: "item", "item.htmlsection == 'info'" | first %}

{% assign hc = info.links | where_exp: "item", "item.id == 1" | first %}
{% assign bug = info.links | where_exp: "item", "item.id == 2" | first %}
{% assign sysr = info.links | where_exp: "item", "item.id == 3" | first %}
{% assign chw = info.links | where_exp: "item", "item.id == 4" | first %}
{% assign hwt = info.links | where_exp: "item", "item.id == 5" | first %}

{% assign colors = hcl | where_exp: "item", "item.htmlsection == 'colors'" | first %}

{% assign laptop_section = hcl | where_exp: "item", "item.htmlsection == 'laptop'" | first %}
{% assign listcol = hcl | where_exp: "item", "item.htmlsection == 'listcol'" | first %}
{% assign desk_section = hcl | where_exp: "item", "item.htmlsection == 'desk'" | first %}
{% assign mother_section = hcl | where_exp: "item", "item.htmlsection == 'mother'" | first %}
<!-- TODO there are some words that are left non-translated, as well as the list of the columns -->
<div id="hcl">
  <div class="row">
    <div class="col-lg-3 col-md-3">
      <h4>{{ hw.title }}</h4>
      <p>
        <a href="{{ laptop.url }}" class="btn btn-primary btn-block" href=""><i class="fa fa-laptop"></i>{{ laptop.text }}</a>
      </p>
      <p>
        <a href="{{ desk.url }}" class="btn btn-primary btn-block" href=""><i class="fa fa-desktop"></i> {{ desk.text }}</a>
      </p>
      <p>
        <a href="{{ mother.url }}" class="btn btn-primary btn-block" href=""><i class="fa fa-server"></i> {{ mother.text }}</a>
      </p>
      <hr>
      <p>
        <a href="{{ add.url }}" class="btn btn-default btn-block" href=""><i class="fa fa-plus"></i> {{ add.text }}</a>
      </p>
      <h4>{{ info.title }}</h4>
      <ul>
        <li><a href="{{ hc.url }}">{{ hc.text }}</a></li>
        <li><a href="{{ bug.url }}"> {{ bug.text }}</a></li>
        <li><a href="{{ sysr.url }}">{{ sysr.text }}</a></li>
        <li><a href="{{ chw.url }}">{{ chw.text }}</a></li>
        <li><a href="{{ hwt.url }}">{{ hwt.text }}</a></li>
      </ul>
    </div>
    <div class="col-lg-9 col-md-9">
      <h4>{{ colors.title }}</h4>
      <table class="table table-bordered">
        <tr>
          <td width="25%" class="success text-center"><strong>yes</strong><br> {{ colors.colors[0].green }}</td>
          <td wdith="25%" class="info text-center"><strong>unknown</strong><br>{{ colors.colors[1].blue }}</td>
          <td width="25%" class="warning text-center"><strong>partial</strong><br>{{ colors.colors[2].trump }}</td>
          <td width="25%" class="danger text-center"><strong>no</strong><br>{{ colors.colors[3].red }}</td>
        </tr>
      </table>
      <h4> {{ listcol.title }}</h4>
      <table class="table table-bordered table-responsive">
        <tr>
          <td><strong>Model</strong></td>
          <td>Manufacturer and Devicename (Socket/CPU, Chipset/Southbridge, Graphics)</td>
        </tr>
        <tr>
          <td><strong>BIOS</strong></td>
          <td>Reported BIOS version</td>
        </tr>
        <tr>
          <td><a class='ext-link' href='https://en.wikipedia.org/wiki/Hardware_virtual_machine'>HVM</a></td>
          <td>
            <a class='ext-link' href='https://en.wikipedia.org/wiki/Intel_VT-x#Intel-VT-x'>Intel VT-x</a> or <a class='ext-link' href='https://en.wikipedia.org/wiki/AMD-V#AMD_virtualization_.28AMD-V.29'>AMD-v</a>
            technology (required for running HVM domains, such as <a class='ext-link' href='/doc/WindowsAppVms/'>Windows-based AppVMs</a>).
          </td>
        </tr>
        <tr>
          <td><a class='ext-link' href='https://en.wikipedia.org/wiki/IOMMU'>IOMMU</a></td>
          <td>Intel VT-d or AMD IOMMU technology (required for effective isolation of network VMs and <a class='ext-link' href='https://wiki.xen.org/wiki/Xen_PCI_Passthrough'>PCI passthrough</a>).</td>
        </tr>
        <tr>
          <td><a class='ext-link' href='https://en.wikipedia.org/wiki/Second_Level_Address_Translation'>SLAT</a></td>
          <td>Second Level Address Translation (SLAT): Intel VT-x support for Extended Page Tables (EPT) or AMD-V support for Rapid Virtualization Indexing (RVI).</td>
        </tr>
        <tr>
          <td><a class='ext-link' href='https://en.wikipedia.org/wiki/Trusted_Platform_Module'>TPM</a></td>
          <td>TPM with proper BIOS support (required for <a class='ext-link' href='/doc/AntiEvilMaid/'>Anti Evil Maid</a>).</td>
        </tr>
        <tr>
          <td><strong>Qubes</strong></td>
          <td>Reported Qubes version (R=Release, rc=release candidate, B=Beta, e.g., R1, R2B1, R2rc1).</td>
        </tr>
        <tr>
          <td><a class='ext-link' href='https://en.wikipedia.org/wiki/Linux_kernel#Maintenance'>Kernel</a></td>
          <td>Reported <a class='ext-link' href='https://en.wikipedia.org/wiki/Dom0'>dom0</a> kernel version (numbers in uname -r), can be selected during installation and boot in the troubleshooting menu.</td>
        </tr>
        <tr>
          <td><strong>Remark</strong></td>
          <td>Additional information field. Qubes, kernel, and this field are coloured in conjunction to reflect general machine compatibility.</td>
        </tr>
        <tr>
          <td><strong>Credit</strong></td>
          <td>Name of submitter with link to original report, if available.</td>
        </tr>
      </table>
    </div>
  </div>
  <h2 id="hardware-laptops" class="add-left"><i class="fa fa-laptop"></i> {{ laptop_section.title }}</h2>
  <table class="table table-hover table-bordered table-responsive sortable more-bottom" align="center">
    <tr>
      <th style="width=23%">Model</th>
      <th style="width=42px">BIOS</th>
      <th style="width=32px">HVM</th>
      <th style="width=32px">IOMMU</th>
      <th style="width=32px">SLAT</th>
      <th style="width=32px">TPM</th>
      <th style="width=42px">Qubes</th>
      <th style="width=42px">Xen</th>
      <th style="width=42px">Kernel</th>
      <th>Remark</th>
      <th style="width=20%">Credit</th>
    </tr>
    {% for device in site.hcl %}
      {% if device.type == 'laptop' or device.type == 'notebook' %}
        {% include hcl-device.html %}
      {% endif  %}
    {% endfor %}
  </table>
  <h2 id="hardware-desktops" class="add-left"><i class="fa fa-desktop"></i> {{ desk_section.title }}</h2>
  <table class="table table-hover table-bordered table-responsive sortable more-bottom" align="center">
    <tr>
      <th style="width=23%">Model</th>
      <th style="width=42px">BIOS</th>
      <th style="width=32px">HVM</th>
      <th style="width=32px">IOMMU</th>
      <th style="width=32px">SLAT</th>
      <th style="width=32px">TPM</th>
      <th style="width=42px">Qubes</th>
      <th style="width=42px">Xen</th>
      <th style="width=42px">Kernel</th>
      <th>Remark</th>
      <th style="width=20%">Credit</th>
    </tr>
    {% for device in site.hcl %}
      {% if device.type == 'desktop' or device.type == 'workstation' or device.type == 'server' %}
        {% include hcl-device.html %}
      {% endif  %}
    {% endfor %}
  </table>
  <h2 id="hardware-motherboards" class="add-left"><i class="fa fa-server"></i> {{ mother_section.title }}</h2>
  <table class="table table-hover table-bordered table-responsive sortable" align="center">
    <tr>
      <th style="width=23%">Model</th>
      <th style="width=42px">BIOS</th>
      <th style="width=32px">HVM</th>
      <th style="width=32px">IOMMU</th>
      <th style="width=32px">SLAT</th>
      <th style="width=32px">TPM</th>
      <th style="width=42px">Qubes</th>
      <th style="width=42px">Xen</th>
      <th style="width=42px">Kernel</th>
      <th>Remark</th>
      <th style="width=20%">Credit</th>
    </tr>
    {% for device in site.hcl %}
      {% if device.type == 'motherboard' %}
        {% include hcl-device.html %}
      {% endif  %}
    {% endfor %}
  </table>
</div>
