<!-- Localization -->
{% if page.lang == nil or page.lang == "en" %}
  {% assign iincludes = site.data.includes %}
{% else %}
  {% assign iincludes = site.data.translation[page.lang].includes %}
  {% if iincludes == nil or iincludes.size == 0 %}
    {% assign iincludes = site.data.includes %}
  {% endif %}
{% endif %}
{% assign news = iincludes | where_exp: "item", "item.section == 'news-heading'" | first %}
<!-- Recent news widget -->
<h2 class="text-center outer-heading">
  {{ news.title }}
</h2>
<div class="white-box">
  <ul class="list-unstyled remove-bottom">
    {% for post in site.posts limit:7 %}
      <li class="list-links">
        <a class="black-link headline" href="{{ post.url }}">
          {{ post.title }}
          {% for category in post.categories %}
            {% if site.allowed_categories contains category %}
              <span class="detail"> Posted in {{ category | capitalize }} on {{ post.date | date: "%Y-%m-%d" }}</span>
            {% endif %}
          {% endfor %}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
