<!-- Localization -->
{% if page.lang == nil or page.lang == "en" %}
  {% assign inc = site.data.includes %}
{% else %}
  {% assign inc = site.data.translation[page.lang].includes %}
  {% if inc == nil or inc.size == 0 %}
    {% assign inc = site.data.includes %}
  {% endif %}
{% endif %}
{% assign sec = inc | where_exp: "item", "item.section == 'security-xsa'" | first %}
{% assign statistics = sec.htmlsections[0] %}
{% assign tracker = sec.htmlsections[1] %}
<!-- XSA statistics -->
<h2 id="statistics">{{statistics.title}}</h2>
<!-- Calculate statistics -->
{% assign date_first = site.data.sec-xsa.first.date %}
{% assign date_first_epoch = date_first | date: "%s" %}
{% assign date_last = site.data.sec-xsa.last.date %}
{% assign date_last_epoch = date_last | date: "%s" %}
{% assign timespan_epoch = date_last_epoch | minus: date_first_epoch %}
{% assign timespan_human = timespan_epoch | divided_by: 31536000.0 | round: 1 %}
{% assign xsa_total = site.data.sec-xsa | size | plus: 1.0 %}
{% assign xsa_unused = 0.0 %}
{% assign xsa_affected = 0.0 %}
{% for xsa in site.data.sec-xsa %}
  {% if xsa.affected == true %}
    {% assign xsa_affected = xsa_affected | plus: 1.0 %}
  {% endif %}
  {% if xsa.unused == true %}
    {% assign xsa_unused = xsa_unused | plus: 1.0 %}
  {% endif %}
{% endfor %}
{% assign xsa_used = xsa_total | minus: xsa_unused %}
{% assign affected_percentage = xsa_affected | divided_by: xsa_used | times: 100.0 | round: 2 %}
<!-- List statistics -->
<ul>
  <li> {{ statistics.tts1 }}: <strong>{{ timespan_human }} {{ statistics.tts2 }}</strong> ({{ date_first }} &#8212; {{ date_last }}) </li>
  <li> {{ statistics.txp }}: <strong>{{ xsa_used | round }}</strong></li>
  <li> {{ statistics.txaq }}: <strong>{{ xsa_affected | round }}</strong> </li>
  <li> {{ statistics.pxaq }}: <strong>{{ affected_percentage }}</strong> </li>
</ul>
<!-- XSA tracker -->
<h2 id="tracker">{{ tracker.title }}</h2>
<table>
  <tr class="center">
    <th title="Anchor Link"><span class="fa fa-link"></span></th>
    <th> {{ tracker.column1 }}</th>
    <th title="Xen Security Advisory">{{ tracker.column2 }}</th>
    <th>{{ tracker.column3 }}</th>
  </tr>
  {% for xsa in site.data.sec-xsa reversed %}
    <tr id="{{ xsa.xsa }}">
      <td><a href="#{{ xsa.xsa }}" class="fa fa-link black-icon" title="Anchor link to tracker row: XSA-{{ xsa.xsa }}"></a></td>
      <td>{{ xsa.date }}</td>
      <td>
        <a title="Xen Security Advisory {{ xsa.xsa }}"
        {% if xsa.xsa <= 25 %}
          href="https://wiki.xenproject.org/wiki/Security_Announcements_(Historical)"
        {% else %}
          href="https://xenbits.xen.org/xsa/advisory-{{ xsa.xsa }}.html"
        {% endif %}>
        XSA-{{ xsa.xsa }}&nbsp;<span class="fa fa-external-link"></span></a>
      </td>
      <td>
        {% if xsa.affected == false %}
          {% if xsa.unused %}
            {{ tracker.no_extended }}
          {% elsif xsa.mitigation %}
            (<a href="#{{ xsa.mitigation }}" title="No, the security of Qubes OS is not affected by XSA-{{ xsa.xsa }}. Click to read the explanation.">{{ xsa.mitigation }}</a>)
          {% else %}
            <span title="No, the security of Qubes OS is not affected by XSA-{{ xsa.xsa }}.">{{ tracker.no_short }}</span>
          {% endif %}
        {% elsif xsa.affected == true %}
          <span title="Yes, the security of Qubes OS is affected by XSA-{{ xsa.xsa }}.">{{ tracker.yes_short }}</span>
          {% if xsa.qsb %}
            | <a href="https://github.com/QubesOS/qubes-secpack/blob/master/QSBs/qsb-{{ xsa.qsb }}.txt" title="Qubes Security Bulletin {{ xsa.qsb }}">QSB-{{ xsa.qsb }}&nbsp;<span class="fa fa-external-link"></span></a>
          {% endif %}
        {% elsif xsa.affected == "tba" %}
          {% if xsa.tba %}
            <a href="{{ xsa.tba }}" title="To be announced. Click for more information.">{{ tracker.tba }}&nbsp;<span class="fa fa-external-link"></span></a>
          {% else %}
            <span title="To be announced">{{ tracker.tba }}</span>
          {% endif %}
        {% else %}
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>
