---
layout: base
---
<div class="container">
  {% include doc-heading.html %}
  <div class="more-bottom white-box page-content">
    {% if page.permalink == '/doc/' %}
      {% include doc-index.html %}
    {% else %}
      {% include doc-content.html %}
    {% endif %}
  </div>
</div>
